:root {
  /* Color Palette */
  --color-operator-buttons: hsl(43, 100%, 55%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsla(0, 0%, 59%, 0.5);
  --color-hover-sysmbols: hsl(0, 1%, 53%);
  --color-hover-numeric: hsl(0, 2%, 84%, 0.5);
  --color-hover-operator: hsl(43, 81%, 50%);
  --font-color-numeric: hsl(0, 0%, 10%);
  --space-20px: calc(1rem + 4px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-mode {
  --font-color-numeric: hsl(0, 0%, 100%);
  --color-container: #060607;
  --background-color: #22252a;
  --background-color-button: #2e3034;
}

body {
  background-color: var(--background-color);
}

.container {
  background-color: var(--color-container);
  width: 28.5rem;
  margin: 80px auto;
  padding-top: var(--space-20px);
  border-radius: var(--space-20px);
  box-shadow: 2px 2px 5px var(--color-gray);
  cursor: pointer;
  box-sizing: border-box;
  color: var(--font-color-operator);
}

.container #input {
  width: 25.75rem;
  height: 12rem;
  padding: 0rem 0rem 1rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  border-radius: calc(var(--space-20px) + 4px);
  border: transparent;
  box-shadow: inset 0px 0px 10px var(--color-gray);
  margin: 0 var(--space-20px) var(--space-20px) var(--space-20px);
  overflow: hidden;
}

.container .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 calc(var(--space-20px) + 20px) var(--space-20px)
    calc(var(--space-20px) + 20px);
  color: var(--color-container);
}

.container .container-buttons {
  display: flex;
  flex-wrap: wrap;
}

.container .container-buttons button {
  font-weight: 100;
  font-size: 2rem;
  width: 5.3rem;
  height: 3.75rem;
  border: transparent;
  border-radius: var(--space-20px);
  margin: 0 0 var(--space-20px) var(--space-20px);
  box-shadow: 2px 2px 5px var(--color-gray), -2px -2px 5px var(--color-gray);
  box-sizing: border-box;
  cursor: pointer;
}

.numeric-buttons {
  color: var(--font-color-numeric);
  background-color: var(--background-color-button);
}

.numeric-buttons:hover {
  background-color: var(--color-hover-numeric);
}

.operators {
  color: var(--color-white);
  background-color: var(--color-operator-buttons);
}

.operators:hover {
  background-color: var(--color-hover-operator);
}

.sysmbols {
  background-color: #b0b0b0;
}

.sysmbols:hover {
  background-color: var(--color-hover-sysmbols);
}

.fifth-row {
  margin-bottom: var(--space-20px);
}
